/* Layout wrapper */
.genmodel-page {
  display: flex;
  flex-direction: row;   
  height: 100vh;       
}

.genmodel-sidebar {
  width: 250px;
  background-color: #2f2f40; 
  color: white;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; 
}

.genmodel-sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 1rem;
}

.genmodel-sidebar a:hover {
  background-color: #1D2A6E;
  padding-left: 10px;
}

.genmodel-main {
  flex: 1;              
  padding: 20px;
  background: #f9f9f9;  
  overflow-y: auto;
}
