.section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .budget-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    font-size: 16px;
    color: #333333;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .question-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    color: #2196F3;
    cursor: pointer;
  }
  
  .save-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background-color: #45a049;
  }
  