.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #111521; /* dark blue */
  position: fixed;            /* fixed instead of sticky */
  top: 0;
  left: 0;
  width: 100%;               /* make it span full width */
  z-index: 1000;
}

  .topbar-button {
    padding: 10px 20px;
    background-color: #3871eb; 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin-right: 2.5rem;
    text-align: right;
  }
  
  .topbar-button:hover {
    background-color: #1e50bd;
  }
  
  .topbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color:aliceblue; 
    text-align: left;
    margin-left: 2.5rem;
  }
  